<footer>
    <section class="navbar navbar-expand-lg">
    <a 
      <div id="center">
        <p>Website Made by Matthew and Anand<br>   FemmeSport@gmail.com</p>
      </div>
    </section>
</footer>