<footer>
    <section class="navbar fixed-bottom navbar-dark bg-dark navbar-expand-lg">
      <div id="center">
        <p>Website Made by Matthew and Anand<br>   gamesareus@gmail.com</p>
      </div>
    </section>
</footer>