<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/styles.css">
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyA4aoavX1qPSOaUbI05oqDhvkI7xMMbttg",
      authDomain: "femme-sport.firebaseapp.com",
      databaseURL: "https://femme-sport.firebaseio.com",
      projectId: "femme-sport",
      storageBucket: "femme-sport.appspot.com",
      messagingSenderId: "592184879157",
      appId: "1:592184879157:web:79788b5543a7dc3296297c",
      measurementId: "G-X39FBF7CKW"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  {# <script src="/__/firebase/7.18.0/firebase-app.js"></script>
  <script src="/__/firebase/7.18.0/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyA4aoavX1qPSOaUbI05oqDhvkI7xMMbttg",
      authDomain: "femme-sport.firebaseapp.com",
      databaseURL: "https://femme-sport.firebaseio.com",
      projectId: "femme-sport",
      storageBucket: "femme-sport.appspot.com",
      messagingSenderId: "592184879157",
      appId: "1:592184879157:web:3125d2156c9c12c096297c",
      measurementId: "G-BDP5H35ETH"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script> #}
</head>