<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container-fluid ">
      <div id="game">
     <div class="row">
        <div id="center">
        <p>We are a website dedicated to giving a good shopping experience
        to all gamers.</br>WE have been in business since 2022 and havn't gotten
        a single complaint!</p>
        </div>
      </div>
      </div>
      </div>
      
        
      </div>
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>