<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container-fluid ">
      <div id="game">
     <div class="row">
        <div id="center">
        <p>We are a website dedicated to giving all the informartion on the womens sports all around the world.</p>
        </div>
      </div>
      </div>
      </div>
      
        
      </div>
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>