<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container-fluid ">
      <div class="row">
      <div class="col-md-2">
      {% include 'partials/categories.twig' %}
      </div>
      <div class="col-md-1 ">
      <div id="game">
     <div class="row">
     <p>HELLO</p>
        {% for item in products %}
          
            <div class="col-md-4">
            
              <p>HELLO</p>
              <h4 class="text-capitalize" >{{item.title}}</h4>
              <h5>${{item.author}}</h5>
              <p>{{item.details | slice(0,100) ~ '...' }}</p>
            </div>
        {% endfor %}
      
      </div>
      </div>
      </div>
    </div>
  </body>
    {% include 'partials/footer.twig' %}
</html>